/******************************************************************
Page Name:Front Page Styles
Author: Chris Canterbury <chris@ranchodeluxemedia.com>
******************************************************************/

.hero-unit {
  background: #eee;
  padding-top: 20px;
}

.byline {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.main-section {
  //background: $light-gray;
}

.call-to-action {
  background: $dark-gray;
  margin-top: 0;
  margin-bottom: 120px;
  padding-top: 115px;
  padding-bottom: 115px;
}
