/******************************************************************
Page Name:Front Page Styles
Author: Chris Canterbury <chris@ranchodeluxemedia.com>
******************************************************************/

.hero-unit {
  background: #eee;
  padding-top: 20px;
}

.byline {
  font-size: 12px;
  margin: 0;
  padding: 0;
}
